<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Reservation</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="navigation">-->
<!--    <a class="active" href="/">Home</a>-->
<!--    &lt;!&ndash;  <a href="/logout" style="float:Right">Logout</a>&ndash;&gt;-->


<!--    <a href="/login" style="float:right">Login</a>-->
<!--    <a href="/register" style="float:right">Register</a>-->
<!--</div>-->
<!--<h1>Reservation History</h1>-->
<!--<table class="tabel table-striped table-bordered">-->
<!--    <thead class="table">-->
<!--    <tr>-->
<!--        <th scope="col">Departure city</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--</table>-->


<!--</body>-->
<!--</html>-->